div{
    color: white;
    background-color: #6b5acd;
}
table{
    background-color: #6b5acd;

}
.value{
    text-decoration-color: white;
    margin-top: 20px;
    margin-left: 20px;
}
a{
    text-decoration: underline;
    font-size: 40px;
}
.name{
    padding-left: 20px;
}
#thanx{
    font-size: 40px;
    color: blue;
}
