body{
    background-image: url("stopWatch.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
}
div.time > h1{
    display: inline-block;
    color: black;
    width: 100px;
    background-color: cornsilk;
    border-radius: 25px;
}
h2{
    display: inline;
}
button{
    background-color: cornsilk;
    width: 100px;
    height: 40px;
    border-radius: 50px;
    margin: 20px;
}